#card{
  
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}

li{
    list-style-type: none;
}

.list_item{
      border: 2px, solid, maroon;
      

}


#header_div{
    background-color: maroon;
    padding: 10px;
}

*{
    background-color: whitesmoke;
}